.sidebar{
    position: sticky;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: blue;
    padding: 20px;
    float: left;

}
.main{
    margin-left: 220px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif
}