.Inline{
    display: inline;
    padding: 10px;
    color: blue;
}
.external{
    display: block;
    padding: 10px;
    color: green;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}